header{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    background-color: whitesmoke;
}

.logo{
    width:150px;
}
.logo img{
    width: 100%;
}

.eb_grid, .eb_grid_2{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
}

.eb_grid img{
    width: 30px;
}

.eb_grid_2 img{
    width: 40px;
}

.eb_main{
    width: 80vw;
    margin-top: 100px;
}